<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <main>
        <h1>Books</h1>  
        <nav>
          <a href="/signup_page">Login</a>
          <a href="/">Books and Films</a>
          <a href="/books">Books</a>
          <a href="/films">Films</a>
          <a href="/authors">Authors</a>
          <a href="/quotes">Quotes</a>
        </nav>
        <ul>
            {% for book in books %}
            <li>
                <h2 id="list_heading">{{book.title}}</h2>
                <img src={{book.url}} alt={{book.title}}>
                <p>by {{book.author_name}}</p>
                <p> {{book.blurb}}</p>
            </li>
            {% endfor %}
        </ul>
        
        <h2>Add a Book</h2>
        <form method="POST" action="/books">
          <input type="text" name="title" placeholder="Book title">
          <input type="text" name="author_name" placeholder="Author">
          <input type="text" name="blurb" placeholder="Book Summary">
          <input type="text" name="url" placeholder="Image url">
          <input id = "submit-button" type="submit" value="Submit">
        </form>

    </main>
  </body>
</html>