<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <main>
        <h1>Films</h1>  
        <nav>
          <a href="/signup_page">Login</a>
          <a href="/">Books and Films</a>
          <a href="/books">Books</a>
          <a href="/films">Films</a>
          <a href="/authors">Authors</a>
          <a href="/quotes">Quotes</a>
        </nav>
        <ul>
            {% for film in films %}
            <li>
                <h2>{{film.title}}</h2>
                <p>{{film.director}}</p>
            </li>
            {% endfor %}
        </ul>
        <h2>Add a Film</h2>
        <form method="POST" action="/films">
          <input type="text" name="title" placeholder="Title">
          <input type="text" name="director" placeholder="Director">
          <input type="text" name="run_time" placeholder="Run Time Minutes">
          <input type="text" name="imdb" placeholder="imdb">
          <input id = "submit-button" type="submit" value="Submit">
        </form>
    </main>
  </body>
</html>