<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <main>

      <h1>Books and Films</h1>  
      
        <nav>
          <a href="/signup_page">Login</a>
          <a href="/">Books and Films</a>
          <a href="/books">Books</a>
          <a href="/films">Films</a>
          <a href="/authors">Authors</a>
          <a href="/quotes">Quotes</a>
        </nav>
        <p class="intro">
          A handy dandy website full of Books and Films
        </p>

        <h2>An Example of authors that wrote books</h2>

        <h3> Douglas Adams</h3>


        <p>In the beginning the Universe was created. This has made a lot of people very angry and been widely regarded as a bad move.</p>

        <p>A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.</p>

        <p>"I'd far rather be happy than right any day."

        "And are you?"

        "No. That's where it all falls down, of course."</p>


        
        <img src="https://www.salon.com/app/uploads/2016/03/douglas_adams.jpg" alt="A man"> 



        <h3> George RR Martin </h3>
        <p>
          A man who can't finish writing books for reference
        </p>
        <p>
          I don't really have a strong feeling about this ofcourse.
        </p>
        <p>Nor have I read these books or watched the associated TV series. I was just given half an hour to do something constructive and this happened instead!</p>
        <img src="https://www.nationalworld.com/jpim-static/image/2024/02/27/16/23/Upcoming%20George%20RR%20Martin%20books.jpg?crop=3:2,smart&trim=&width=640&quality=65" alt="A man who can't finish writing books, So i have heard">
    </main>
  </body>
</html>