<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <main>
        <h1>Books</h1>  
        <nav>
          <a href="/signup_page">Login</a>
          <a href="/">Books and Films</a>
          <a href="/books">Books</a>
          <a href="/films">Films</a>
          <a href="/authors">Authors</a>
          <a href="/quotes">Quotes</a>
        </nav>
        <ul>
    
                <li>
                    <p>"I may not have gone where I intended to go, but I think I have ended up where I needed to be."</p>
                </li>
                <li>
                    <p>"I love deadlines. I love the whooshing noise they make as they go by."</p>
                </li>
                <li>
                    <p>"In the beginning the Universe was created. This has made a lot of people very angry and been widely regarded as a bad move."</p>
                </li>
                <li>
                    <p>"I refuse to answer that question on the grounds that I don't know the answer"</p>
                </li>
            
        
        </ul>
        
    
    </main>
  </body>
</html>