<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <main>
        <h1>Sign Up</h1>  
        <nav>
          <a href="/login_page">Login</a>
          <a href="/signup_page">Sign Up</a>
          <a href="/">Books and Films</a>
          <a href="/books">Books</a>
          <a href="/films">Films</a>
          <a href="/authors">Authors</a>
          <a href="/quotes">Quotes</a>
        </nav>
        
        <h2>Sign Up</h2>
        <form method="POST" action="/signup">
          <input type="text" name="user_name" placeholder="User Name / Email" required>
          <input type="text" name="password" placeholder="Password" required>
          <input id = "submit-button" type="submit" value="Sign up">
        </form>

    </main>
  </body>
</html>